/* CSS Document */
@font-face {
    font-family: "Righteous";
    src: url('Righteous-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body, h1, h2, h3, p, caption, form, input, select, input[list], label, .oblak, td, th, a, button {
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
}
body {
    background-color: plum;
    text-align: center;
}
.cvijet {
    position: absolute;
    font-family: monospace;
    white-space: pre;
    line-height: 1;
    color: darkolivegreen;
}
.cvijet-lijevo {
    top: 10px;
    left: 10px;
}
.cvijet-desno {
    top: 10px;
    right: 10px;
}
.naslov {
    text-align: center;
    margin-top: 40px;
}
.oblaci-area {
    position: relative;
    width: 700px;  
    height: 400px;
    margin: 0 auto;  
    margin-bottom: 40px;
    border: 3px dashed darkolivegreen;
    border-radius: 20px;
}
.oblak {
    position: absolute;
    max-width: 250px;
    padding: 25px 30px;
    background: hsla(34, 78%, 91%, 0.7);
    border: 2px solid darkolivegreen;
    border-radius: 60px;
    box-shadow: 2px 4px 5px orchid;
    text-align: center;
}
.ob1 { top: 20px; left: 80px; }
.ob2 { top: 40px; right: 80px; }
.ob3 { top: 130px; left: 30px; }
.ob4 { top: 150px; right: 20px; }
.ob5 { bottom: 70px; left: 10px; }
.ob6 { bottom: 10px; right: 60px; }

ul {
    list-style-type:initial;
}
ol {
    list-style-type:decimal;
}
ul, ol {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    font-family: "Righteous", sans-serif;
    color:antiquewhite;
    float: none;
}
.lista {
    display: inline-block;
    vertical-align: top; 
    margin: 0 30px; 
    text-align: left;
}
span {
    color:antiquewhite;
    background-color: orchid;
}
form{font-family: "Righteous", sans-serif;
    color: darkolivegreen;
}
input,
select,
button,
input[list]{
    background-color: hsla(34, 78%, 91%, 0.7);
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 1px 2px 3px orchid;
    font-size: 14px;
}
input:hover, input:focus, input:active
select:hover, select:focus, select:active {
    box-shadow: 1px 4px 4px orchid;
    outline: none;
}
input[type] {
    background:hsla(34, 78%, 91%, 0.7);
}
input[type="button"] {
    font-size: 20px;
    font-weight: bold; 
    border-radius: 5px; 
    box-shadow:1px 3px 4px orchid; 
    padding: 20px;
    border:2px solid darkolivegreen;
    background: hsla(34, 78%, 91%, 0.7);
}
input[type="button"]:hover {
    box-shadow:2px 5px 4px orchid;
}
label {
    font-weight: bold;
    display: inline-block;
    margin: 8px 5px 4px 0;
}
td, th{
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    background:hsla(34, 78%, 91%, 0.7);
    padding: 20px;
    width: 100px;
    height: 25px;
}
table{
    border: 5px solid darkolivegreen;
    border-radius: 15px;
    border-collapse: separate;
    box-shadow:5px 7px 8px orchid;
    display: inline-block;
    margin: 15px auto;
}
caption {
    font-weight: bold;
}
.obojena-tablica tr:nth-child(odd) {
  background-color: hsla(34, 60%, 97%, 0.8);
}
.blok {
    width: 45%;
    float: left;
    margin: 20px 2%;
    text-align: center;
}
.clear {
    clear: both;
}
.blokovi {
    width: 94%;     
    margin: 0 auto; 
}
.posteri {
	width:10%;
	height:10%;
}
iframe {
    width: 560;
    height: 315;
    border: none;
}
.posteri-kontejner {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.posteri-blok {
  display: flex;
  gap: 10px;
}

.posteri {
  width: 150px;
  height: auto;
  border-radius: 5px;
}
.blok-posteri-naslov {
  text-align: center;
}
video, iframe, object {
    border-radius: 15px;
}


@media (max-width: 800px) {

    .oblaci-area {
        width: 90%;
        height: auto;
    }

    .oblak {
        position: static;
        margin: 10px auto;
        display: block;
        max-width: 90%;
    }

    .blok {
        width: 100%;
        float: none;
        margin: 20px auto;
    }

    table {
        width: 90%;
    }

    td, th {
        width: auto;
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .cvijet {
        display: none;
    }
}
