/* CSS Document */
@font-face {
    font-family: "Righteous";
    src: url('Righteous-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
h1 {
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
}
p {
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
}
body {
    background-color: plum;
    text-align: center;
}
ul {
    list-style-type:initial;
}
ol {
    list-style-type:decimal;
}
ul, ol {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    font-family: "Righteous", sans-serif;
    color:antiquewhite;
    float: none;
}
span {
    color:antiquewhite
}
