/* CSS Document */
@font-face {
    font-family: "Righteous";
    src: url('Righteous-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
h1, h2, p {
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
}
body {
    background-color: plum;
    text-align: center;
}
ul {
    list-style-type:initial;
}
ol {
    list-style-type:decimal;
}
ul, ol {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    font-family: "Righteous", sans-serif;
    color:antiquewhite;
    float: none;
}
span {
    color:antiquewhite
}
form{font-family: "Righteous", sans-serif;
    color: darkolivegreen;
}
input,
select,
input[list]{
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
    background-color: hsla(34, 78%, 91%, 0.7);
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    padding: 5px 8px;
    box-shadow: 1px 2px 3px orchid;
    font-size: 14px;
}
input:hover, input:focus, input:active
select:hover, select:focus, select:active {
    box-shadow: 1px 4px 4px orchid;
    outline: none;
}
input[type] {
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
    background:hsla(34, 78%, 91%, 0.7);
}
input[type="button"] {
    font-size: 20px;
    font-weight: bold; 
    border-radius: 5px; 
    box-shadow:1px 3px 4px orchid; 
    padding: 20px;
    border:2px solid darkolivegreen;
    background: hsla(34, 78%, 91%, 0.7);
}
input[type="button"]:hover {
    box-shadow:2px 5px 4px orchid;
}
label {
    font-family: "Righteous", sans-serif;
    color: darkolivegreen;
    font-weight: bold;
    display: inline-block;
    margin: 8px 5px 4px 0;
}
